<h1>Customers</h1>
<table border="1"class="table">
    <tr>
        <th>
            Customer
        </th>
    </tr>
    <tr>
        <td>
            Luffy
        </td>
    </tr>
    <tr>
        <td>
            Zoro
        </td>
    </tr>
</table>