<h1>Movies </h1>
<table border="1" class="table">
    <tr>
        <th>
            Movies
        </th>
    </tr>


   @*foreach ()*@
    <tr>
        <td>
            Intersteller
        </td>
    </tr>
    <tr>
        <td>
            Inception
        </td>
    </tr>
</table>