@model List<Vidly.Models.Movie>

<h1>Movies</h1>

<table border="1" class="table">
    <tr><th>Movies</th></tr>
    @foreach (var movie in Model)
    {
        <tr>
            <td>
                @movie.Name
            </td>
        </tr>
    }
</table>
